
*.pyc
*.py
*.txt
projects/finance/venv_finance/Lib/site-packages/pip-20.1.1.dist-info/INSTALLER
projects/finance/venv_finance/Lib/site-packages/pip-20.1.1.dist-info/METADATA
projects/finance/venv_finance/Lib/site-packages/pip-20.1.1.dist-info/RECORD
projects/finance/venv_finance/Lib/site-packages/pip-20.1.1.dist-info/WHEEL
projects/finance/venv_finance/Lib/site-packages/pip/_vendor/certifi/cacert.pem
projects/finance/venv_finance/Lib/site-packages/pip/_vendor/distlib/_backport/sysconfig.cfg
projects/finance/venv_finance/Lib/site-packages/pip/_vendor/distlib/t32.exe
projects/finance/venv_finance/Lib/site-packages/pip/_vendor/distlib/t64.exe
projects/finance/venv_finance/Lib/site-packages/pip/_vendor/distlib/w32.exe
projects/finance/venv_finance/Lib/site-packages/pip/_vendor/distlib/w64.exe
projects/finance/venv_finance/Lib/site-packages/setuptools-47.1.0.dist-info/INSTALLER
projects/finance/venv_finance/Lib/site-packages/setuptools-47.1.0.dist-info/LICENSE
projects/finance/venv_finance/Lib/site-packages/setuptools-47.1.0.dist-info/METADATA
projects/finance/venv_finance/Lib/site-packages/setuptools-47.1.0.dist-info/RECORD
projects/finance/venv_finance/Lib/site-packages/setuptools-47.1.0.dist-info/WHEEL
projects/finance/venv_finance/Lib/site-packages/setuptools-47.1.0.dist-info/zip-safe
projects/finance/venv_finance/Lib/site-packages/setuptools/cli-32.exe
projects/finance/venv_finance/Lib/site-packages/setuptools/cli-64.exe
projects/finance/venv_finance/Lib/site-packages/setuptools/cli.exe
projects/finance/venv_finance/Lib/site-packages/setuptools/command/launcher manifest.xml
projects/finance/venv_finance/Lib/site-packages/setuptools/gui-32.exe
projects/finance/venv_finance/Lib/site-packages/setuptools/gui-64.exe
projects/finance/venv_finance/Lib/site-packages/setuptools/gui.exe
projects/finance/venv_finance/Lib/site-packages/setuptools/script (dev).tmpl
projects/finance/venv_finance/Lib/site-packages/setuptools/script.tmpl
projects/finance/venv_finance/pyvenv.cfg
projects/finance/venv_finance/Scripts/activate
projects/finance/venv_finance/Scripts/activate.bat
projects/finance/venv_finance/Scripts/Activate.ps1
projects/finance/venv_finance/Scripts/deactivate.bat
projects/finance/venv_finance/Scripts/easy_install-3.8.exe
projects/finance/venv_finance/Scripts/easy_install.exe
projects/finance/venv_finance/Scripts/pip.exe
projects/finance/venv_finance/Scripts/pip3.8.exe
projects/finance/venv_finance/Scripts/pip3.exe
projects/finance/venv_finance/Scripts/python.exe
projects/finance/venv_finance/Scripts/pythonw.exe
